USE [master]
GO
/****** Object:  Database [Okul]    Script Date: 22.02.2022 16:31:56 ******/
CREATE DATABASE [Okul]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ogrenciler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ogrenciler.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ogrenciler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ogrenciler_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Okul].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Okul]
GO
/****** Object:  Table [dbo].[Ogrenciler]    Script Date: 22.02.2022 16:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenciler](
	[OgrenciId] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciNo] [int] NULL,
	[OgrenciAd] [nvarchar](50) NULL,
	[OgrenciSoyad] [nvarchar](50) NULL,
	[KayitTarihi] [smalldatetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ogrenciler] ON 

INSERT [dbo].[Ogrenciler] ([OgrenciId], [OgrenciNo], [OgrenciAd], [OgrenciSoyad], [KayitTarihi]) VALUES (2, 862, N'Kader', N'Tosun', CAST(N'2022-02-22T00:00:00' AS SmallDateTime))
INSERT [dbo].[Ogrenciler] ([OgrenciId], [OgrenciNo], [OgrenciAd], [OgrenciSoyad], [KayitTarihi]) VALUES (3, 789, N'ahmet', N'Can', CAST(N'2022-02-22T00:00:00' AS SmallDateTime))
INSERT [dbo].[Ogrenciler] ([OgrenciId], [OgrenciNo], [OgrenciAd], [OgrenciSoyad], [KayitTarihi]) VALUES (4, 563, N'mehmet', N'Can', CAST(N'2022-02-16T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Ogrenciler] OFF
GO
USE [master]
GO
